{% extends "main/base.html" %}
{% load i18n %}

{% block header %}
    <a href="/" class="btn btn-light"><i class="fa fa-angle-left"></i> &nbsp; {% trans "Retour" %}</a>
{% endblock header %}

{% block content %}

    <div class="row">
        <div class="col">
            <div class="text-center mb-4 mt-4 mt-sm-0">
                <h2>{% if host.title %}{{ host.title }}{% endif %} {% if host.first_name %}{{ host.first_name }}{% endif %} {{host.last_name}}</h2>
                <h4 class="text-muted">{% trans "Prise en charge d'un rendez-vous prévu à" %}</h2>
            </div>

            <div class="d-flex justify-content-center">
                <form action="{% url 'host_admin' host.slug %}" method="POST" id="pickup-form">
                    <div class="d-flex align-items-center">
                        <div class="d-flex flex-column">
                            <div class="time-control text-primary" v-on:click="increase_hour"><i class="fa fa-plus-circle"></i></div>
                            <div><input class="form-control" type="text" v-model="scheduled_hours" v-on:blur="format_hour"></div>
                            <div class="time-control text-primary" v-on:click="decrease_hour"><i class="fa fa-minus-circle"></i></div>
                        </div>
                        
                        <span class="text-muted separator">:</span>
                        
                        <div class="d-flex flex-column">
                            <div class="time-control text-primary" v-on:click="increase_minutes"><i class="fa fa-plus-circle"></i></div>
                            <div><input class="form-control" type="text" v-model="scheduled_minutes" v-on:blur="format_minutes"></div>
                            <div class="time-control text-primary" v-on:click="decrease_minutes"><i class="fa fa-minus-circle"></i></div>
                        </div>
                    </div>
                    <input id="id_scheduled_time" name="scheduled_time" v-model="scheduled_time" type="hidden">
                    {% csrf_token %}
                    <button class="btn btn-block btn-lg btn-primary mt-4 p-3" role="submit">Prise en charge</button>
                </form>
            </div>

            {% if picked_up %}
            <div class="text-center mt-2">
                <i>Prise en charge du rendez-vous de {{ added_appointment.scheduled_time }}{% if delay.total_seconds > 0 %} (+ {{delay}}){% endif %}</i>
            </div>
            {% endif %}  
        </div>
    </div>

    <div class="row">
        <div class="col mr-ml-auto">
            <table class="table table-striped mt-5">
                <thead>
                    <th>{% trans "Aujourd'hui" %}</th>
                    <th>{% trans "Heure prévue" %}</th>
                    <th>{% trans "Prise en charge" %}</th>
                </thead>
                <tbody>
                    {% for appointment in all_day_appointments  %}
                    <tr class="{% if picked_up and appointment is added_appointment %}table-success{% endif %}">
                        <td></td>
                        <td>{{appointment.scheduled_time|date:"H:i"}}</td>
                        <td>{{appointment.pickup_time|date:"H:i"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>  
        </div>
    </div>
    
{% endblock content %}