body {
  padding-top: 1.5rem;
  background-image: url('bg.png');
}
.header {
  padding-bottom: 1.5rem;
}
#pickup-form span.separator {
  font-size: 10rem;
  height: 17rem;
  padding: 0 1rem;
}
#pickup-form input[type="text"] {
  font-size: 10rem;
  width: 15rem;
  text-align: center;
  display: inline-block;
}
#pickup-form .time-control {
  font-size: 3rem;
  text-align: center;
  cursor: pointer;
}
