{% extends "main/base.html" %}
{% load i18n %}

{% block content %}
    <h4>{% trans "Ils utilisent CareTime" %}</h4>
    <ul>
        {% for organization in organizations %}
            <li><a href="{% url 'organization' organization.slug %}">{{ organization.name }}</a></li>
            {% if organization.organization_set.all %}
                <ul>
                    {% for child_organization in organization.organization_set.all %}
                        <li><a href="{% url 'organization' child_organization.slug %}">{{ child_organization.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock content %}